@charset 'UTF-8';

body {
    background-color: sandybrown;
    font: normal 1em Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: darkorange;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}

select#flista {
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}